$colorBlack: #1B1310;
$headerHight: 75px;

html {
  font-family: 'Noto Sans JP', 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  font-size: 14px;
  letter-spacing: 0.1em;

  h2 {
    font-size: 2.57em;
    font-weight: bold;
  }

  img {
    width: 100%;
  }
}

header {
  height: $headerHight;
  width: 100%;
  padding: 0 15px;
  background-color: $colorBlack;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0; 
  
  .title {
    font-size: 26px;
    color: white;
  }
  
  .mobile-menu-icon {
    z-index: 2;
    div {
      width: 25px;
      height: 2px;
      margin-bottom: 5px;
      background-color: white;
      transition: transform 0.7s;
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  .menu {
    display: none;
    font-size: 26px;
    color: white;
  }

  &.menu-open {
    .mobile-menu-icon {
      :nth-child(1) {
        transform: translateY(7px) rotate(45deg + 90 * 2);
      }
      :nth-child(2) {
        transform: translateX(-13px) scale(0);
      }
      :nth-child(3) {
        transform: translateY(-7px) rotate(-45deg - 90 * 2);
      }
    }

    .menu {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $colorBlack;
      z-index: 1;
    
      ul {
        width: 100%;
        text-align: center;
        margin-top: 20vh;
      }
    
      li {
        margin-bottom: 50px;
    
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.top {
  height: 100vh;
  background-image: url(../images/fv-bgi_sp@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  align-items: center;
  justify-content: center;


  .logo {
    width: 80%;
    max-width: 300px;
    height: 100px;
    font-size: 30px;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container {
  margin: 0 15px;
}

section {
  padding-top: $headerHight;
  margin-top: -1 * $headerHight;
  
  h2 {
    margin-top: 100px;
    margin-bottom: 75px;
    text-align: center;
  }

  .caption {
    font-size: 1.43em;
    line-height: 2;
    font-weight: bold;
    margin-bottom: 34px;
  }

  article {
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

#service {
  .text {
    margin-bottom: 40px;
  }
}

#news {
  .card {
    box-shadow: 0 0 5px rgba(27, 19, 16, 0.5);
  }

  .text {
    padding: 25px 32px 25px 34px;
  }
}

#contact {
  .contact-wrapper {
    max-width: 700px;
    margin: 0 auto;
  }

  .text-form {
    div {
      margin-bottom: 25px;
      &:last-of-type{
        margin-bottom: 0;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input[type="text"], textarea{
        display: block;
        width: 100%;
        border: 1px solid #141414;
        padding: 0 5px;
      }

      input[type="text"] {
        line-height: 30px;
      }

      textarea {
        line-height: 1.5em;
      }

    }
  }

  input[type="submit"] {
    width: 235px;
    height: 60px;
    display: block;
    margin: 50px auto;
    
    border-radius: 60px;
    box-shadow: 0 0 5px $colorBlack;
    background-color: black;
    
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
  }
}


footer {
  width: 100%;
  height: 60px;
  background-color: $colorBlack;

  color: white;

  text-align: center;
  line-height: 60px;
}

@media (min-width: 1050px) {
  .menu {
    display: block;
    font-size: 16px;

    ul {
      display: flex;
      margin-right: 120px;

      li {
        margin-right: 55px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .mobile-menu-icon {
    display: none;
  }

  
  .top {
    background-image: url(../images/fv-bgi@2x.jpg);
    
    .logo {
      width: 450px;
      max-width: 450px;
      height: 136px;
      font-size: 50px;
    }
  }

  .container {
    max-width: 1030px;
    margin: 0 auto;
  }

  section {
    h2 {
      margin-top: 150px;
    }
  }

  #service {
    article {
      display: flex;
      justify-content: space-between;

      &:nth-of-type(1) {
        flex-direction: row-reverse;
      }
    }

    .text {
      width: 480px;
      margin-top: 30px;
    }

    img {
      width: 480px;
    }
  }

  #news {
    .inner {
      display: flex;
      justify-content: space-between;
    }

    .card {
      width: 320px;
      margin-bottom: 0;
    }
  }

}